<!DOCTYPE html>
<html>
<head>
  <title>Chito</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>
<body>



    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>





  <!-- start footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <a href="https://www.facebook.com/17chito?fref=ts">
              <i class="fa fa-2x fa-facebook-official"></i>
            </a>
          </div>
        </div>
        <hr>
        <div class="row">
          <p>Copyright © 2015 CHiTO.city  All rights reserved</p>
        </div>
      </div>
    </footer>
    <!-- end footer -->


</body>
</html>
